apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: omniservice
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    spec:
      containers:
      - image: gcr.io/YOUR_GCP_PROJECT_ID/omniservice
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
        env:
        - name: SUPABASE_URL
          value: "YOUR_SUPABASE_URL"
        - name: SUPABASE_KEY
          value: "YOUR_SUPABASE_KEY"
        - name: PINECONE_API_KEY
          value: "YOUR_PINECONE_API_KEY"
        - name: PINECONE_INDEX
          value: "YOUR_PINECONE_INDEX"
        - name: GCP_PROJECT_ID
          value: "YOUR_GCP_PROJECT_ID"
        - name: GCP_LOCATION
          value: "YOUR_GCP_LOCATION"
        - name: GEMINI_MODEL_NAME
          value: "gemini-2.0-flash-001"
        - name: EMBEDDING_MODEL_NAME
          value: "text-embedding-005"
